body {
    background-color: #00FA9A;
    margin: 20%
}

#title {
    text-align: center;
    font-size: 7vh;
    font-weight: bold;
    text-shadow: 5px 5px 10px white;
}

img {
    display: inline-block;
    width: 100%;
    height: 700px;
}

#caption {
    font-size: 17px;
	font-family: Gill Sans;
	color: black;
}

#tribute-data {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
	margin: 11px;
	margin-top: 50px;
}

.title-APJ {
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px black;
    font-size: 35px;
}

#tribute-link {
    text-decoration: none;
    color: black;
}
